/* CSS */
html{
    height: 100%;
    width: 100%;
    background: linear-gradient(#243453,#F52F41,#243453);
}

body{
    margin: 0;
    padding: 0;   
}

.principal{
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contenedor{
    position: relative;
    margin: auto;
    margin-top: 150px;
    width: 500px;
    padding: 30px;
    background: #243453;
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.322);
}

.contenedor::before{
    content: " ";
    position: absolute;
    top: -10px;
    left: -15px;
    z-index: -1;
    width: 590px;
    height: 430px;
    background: linear-gradient(45deg,#243453,#F52F41,#243453,#F52F41,#243453,#F52F41,#243453,#F52F41);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 90000ms linear infinite;
}

@keyframes glowing {
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}

.contenedor h2{
    margin: 0px 0px 30px;
    padding: 0px;
    font-size: 30px;
    color:#F52F41;
    text-align: center;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-size: 70px;
    font-style: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

.elemento label{
    color: #F52F41;
    font-family: "Tiny5", sans-serif;
    text-transform: uppercase;
}

.elemento input{
    width: 100%;
    padding: 10px 0px;
    color: #F52F41;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F52F41;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    transition: all 300ms;
}

.elemento input:focus{
    outline: none;
    transition: all 300ms;
    background-color: #e7133d11;
    box-shadow: 0 4px 4px rgba(255, 0, 0, 0.089);
}

.form-input-submit{
    width: 100%;
    background-color: #e7133f;
    color:#cccccc ;
    border: none;
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    font-family: "Tiny5", sans-serif;
    font-weight: 800;
    font-style: normal;
    transition: all 300ms;
    position: relative;
    z-index: 0;
    overflow: visible; 
    height: 50px;
}

.button-container{
    overflow: hidden;
    height: 50px;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-container::after{
    content: "";
    color: #14b953;
    background-color: #ff000070;
    width: 1000px;
    height: 400px;
    position: absolute; 
    top: 0;
    left: -250px;
    z-index: -1;
    display: block;
    animation: boton 1500ms infinite alternate;
}

.form-input-submit:hover{
    letter-spacing: 10px;
    background-color: #cccccc;
    color:#243453 ;
    transition: all 300ms;
    height: 40px;
    width: 98%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@keyframes boton {
    0%{
        filter: opacity(1);
    }
    100%{
        filter: opacity(0.25);
    }
}

