html{
    height: 100%;
    width: 100%;
    background: linear-gradient(#243453,#F52F41,#243453);
}

body{
    margin: 0;
    padding: 0;
    
}

.contenedor{
    margin: auto;
    margin-top: 150px;
    width: 500px;
    padding: 30px;
    background: #243453;
    border-radius: 10px;
    
}

.contenedor h2{
    margin: 0px 0px 30px;
    padding: 0px;
    font-size: 30px;
    color:#F52F41;
    text-align: center;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-size: 70px;
    font-style: normal;
}

.elemento label{
    color: #F52F41;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.elemento input{
    width: 100%;
    padding: 10px 0px;
    color: #F52F41;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F52F41;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.elemento input[type="submit"]{
    background-color: #e7133f;
    color:#cccccc ;
    border: none;
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    font-family: "Tiny5", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.elemento input[type="submit"]:hover{
    letter-spacing: 10px;
    background-color: #cccccc;
    color:#243453 ;
}

